---
import CV from "../assets/svg/cv.svg";
import Diploma from "../assets/svg/diploma.svg";
import GitHub from "../assets/svg/github.svg";
import LinkedIn from "../assets/svg/linkedin.svg";
import Gmail from "../assets/svg/gmail.svg";
---

<footer class="w-full border-t border-[#ffffff10] py-12">
  <div class="mx-auto max-w-5xl">
    <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 lg:gap-10">
      <div
        class="flex w-full flex-col items-center justify-between gap-9 space-y-6 lg:items-start"
      >
        <div class="flex space-x-6 sm:space-x-8">
          <a
            href="https://github.com/MoyaRamiro/"
            target="_blank"
            class="group flex flex-col items-center"
            aria-label="GitHub"
          >
            <div
              class="text-[var(--white-icon)] transition duration-300 ease-in-out hover:text-[var(--white)]"
            >
              <GitHub height="32" width="32/" />
            </div>
          </a>
          <a
            href="https://www.linkedin.com/in/ramiro-moya/"
            target="_blank"
            class="group flex flex-col items-center"
            aria-label="LinkedIn"
          >
            <div
              class="text-[var(--white-icon)] transition duration-300 ease-in-out hover:text-[var(--white)]"
            >
              <LinkedIn height="32" width="32/" />
            </div>
          </a>
          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=moya04.ramiro@gmail.com&su=Hola%20Ramiro!"
            target="_blank"
            class="group flex flex-col items-center"
            aria-label="Email"
          >
            <div
              class="text-[var(--white-icon)] transition duration-300 ease-in-out hover:text-[var(--white)]"
            >
              <Gmail height="32" width="32/" />
            </div>
          </a>
        </div>
      </div>
      <div
        class="flex w-full flex-col items-center justify-between gap-9 space-y-6 text-white lg:col-end-4 lg:items-end"
      >
        <div class="flex space-x-6 sm:space-x-8">
          <a
            href="RamiroMoyaCV.pdf"
            target="_blank"
            class="group flex flex-col items-center"
            aria-label="Curriculum Vitae"
          >
            <CV
              class="text-[var(--white-icon)] transition duration-300 ease-in-out hover:text-[var(--white)]"
            />
          </a>
          <a
            href="ActAcademicaRamiroMoya.pdf"
            target="_blank"
            class="group flex flex-col items-center"
            aria-label="actividad académica de Moya, Ramiro"
          >
            <Diploma
              class="text-[var(--white-icon)] transition duration-300 ease-in-out hover:text-[var(--white)]"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
