---
import LetterGlitch from "../React/LetterGlitch.tsx";
import LogoWall from "../components/logoWall.astro";
import SkillsList from "../React/SkillsList.tsx";
import GitHubIcon from "../assets/svg/github.svg";
import LinkedInIcon from "../assets/svg/linkedin.svg";
import GmailIcon from "../assets/svg/gmail.svg";
---

<section class="mt-12 text-[var(--white)] md:mt-0" id="home">
  <div class="mx-auto max-w-5xl space-y-8 pb-14 md:py-36">
    <div class="space-y-4 text-left">
      <p class="text-md shiny-white text-[var(--white-icon)] md:text-lg">
        Hi, I'm
      </p>
      <div
        class="flex flex-col space-y-4 md:gap-4 lg:flex-row lg:items-center lg:space-x-8 lg:space-y-0"
      >
        <h1
          class="text-pretty text-5xl font-medium leading-none text-[var(--white)] md:text-6xl"
        >
          Ramiro <br /> Moya
        </h1>
        <p class="text-md text-[var(--white-icon)] md:text-2xl">
          Transforming ideas into interactive and seamless digital experiences
          with cutting-edge <span class="shiny-sec text-[var(--sec)]"
            >software</span
          > development.
        </p>
      </div>
      <div class="flex justify-start gap-2 pt-3 md:pt-6">
        <a
          target="_blank"
          href="https://github.com/MoyaRamiro"
          aria-label="GitHub"
          class="border-1 rounded-xl border border-[var(--white-icon-tr)] bg-[#1414149c] p-3 text-[var(--white-icon)] transition duration-300 ease-in-out hover:bg-[var(--white-icon-tr)] hover:text-white"
        >
          <GitHubIcon height="32" width="32/" />
        </a>
        <a
          target="_blank"
          href="https://www.linkedin.com/in/ramiro-moya/"
          aria-label="LinkedIn"
          class="border-1 rounded-xl border border-[var(--white-icon-tr)] bg-[#1414149c] p-3 text-[var(--white-icon)] transition duration-300 ease-in-out hover:bg-[var(--white-icon-tr)] hover:text-white"
        >
          <LinkedInIcon height="32" width="32/" />
        </a>
        <a
          target="_blank"
          href="https://mail.google.com/mail/?view=cm&fs=1&to=moya04.ramiro@gmail.com&su=Hola%20Ramiro!"
          aria-label="Email"
          class="border-1 rounded-xl border border-[var(--white-icon-tr)] bg-[#1414149c] p-3 text-[var(--white-icon)] transition duration-300 ease-in-out hover:bg-[var(--white-icon-tr)] hover:text-white"
        >
          <GmailIcon height="32" width="32/" />
        </a>
      </div>
    </div>

    <LogoWall />

    <div class="flex flex-col items-center gap-8 lg:flex-row">
      <SkillsList client:load />
      <div
        class="flex size-[290px] justify-center pt-3 md:ml-16 md:h-[292px] md:w-full md:pt-9"
      >
        <LetterGlitch
          client:load
          glitchColors={["#5e4491", "#A476FF", "#241a38"]}
          glitchSpeed={33}
          centerVignette={false}
          outerVignette={true}
          smooth={true}
        />
      </div>
    </div>
  </div>
</section>

<style is:global>
  .shiny-sec {
    background: linear-gradient(135deg, #a476ff 25%, #eee5ff 50%, #a476ff 75%);
    background-size: 400% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: shine 3s linear infinite;
  }

  @keyframes shine {
    0% {
      background-position: 100% 50%;
    }
    30%,
    70% {
      background-position: 0% 50%;
    }
  }
</style>
