---
import Home from "../assets/svg/home.svg";
import Projects from "../assets/svg/projects.svg";
import Contact from "../assets/svg/contact.svg";
---

<div class="flex w-full justify-center">
  <nav
    class="border-1 fixed bottom-0 left-0 right-0 z-[100] flex rounded-t-2xl border border-[var(--white-icon-tr)] bg-[#1414149c] backdrop-blur-xl transition-all md:bottom-auto md:top-0 md:mt-6 md:w-[33rem] md:justify-self-center md:rounded-full"
  >
    <div class="container mx-auto flex items-center justify-center p-3">
      <ul
        class="flex w-full justify-between gap-6 md:justify-center md:gap-12 md:space-x-6"
      >
        <li class="flex-1 md:flex-none">
          <a
            href="#home"
            class="flex flex-col items-center gap-1 text-xs text-[var(--white-icon)] transition-colors md:text-base"
          >
            <span class="flex h-6 w-6 items-center justify-center md:hidden">
              <Home />
            </span>
            <span class="hidden md:inline-block">Home</span>
            <span class="md:hidden">Home</span>
          </a>
        </li>
        <li class="flex-1 md:flex-none">
          <a
            href="#projects"
            class="flex flex-col items-center gap-1 text-xs text-[var(--white-icon)] transition-colors md:text-base"
          >
            <span class="flex h-6 w-6 items-center justify-center md:hidden">
              <Projects />
            </span>
            <span class="hidden md:inline-block">Projects</span>
            <span class="md:hidden">Projects</span>
          </a>
        </li>
        <li class="flex-1 md:flex-none">
          <a
            href="#contact"
            class="flex flex-col items-center gap-1 text-xs text-[var(--white-icon)] transition-colors md:text-base"
          >
            <span class="flex h-6 w-6 items-center justify-center md:hidden">
              <Contact />
            </span>
            <span class="hidden md:inline-block">Contact</span>
            <span class="md:hidden">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      const target = e.currentTarget as HTMLAnchorElement;
      const targetId = target.getAttribute("href")?.substring(1) || "";
      const targetElement = document.getElementById(targetId);
      if (targetElement) {
        targetElement.scrollIntoView({
          behavior: "smooth",
        });
      }
    });
  });

  document.addEventListener("DOMContentLoaded", () => {
    const sections = document.querySelectorAll("section[id]");
    const navLinks = document.querySelectorAll("nav a[href^='#']");
    const observerOptions = { threshold: 0.6 };

    const observerCallback = (entries: IntersectionObserverEntry[]) => {
      entries.forEach((entry: IntersectionObserverEntry) => {
        if (entry.isIntersecting) {
          navLinks.forEach((link) => link.classList.remove("active"));
          const id = entry.target.getAttribute("id");
          const activeLink = document.querySelector(`nav a[href="#${id}"]`);
          if (activeLink) {
            activeLink.classList.add("active");
          }
        }
      });
    };

    const observer = new IntersectionObserver(
      observerCallback,
      observerOptions,
    );
    sections.forEach((section) => observer.observe(section));
  });
</script>

<style>
  @media (max-width: 767px) {
    body {
      padding-bottom: 70px;
    }
  }

  nav a.active {
    color: white !important;
  }
</style>
